@using TamagotchiGame.Models

@{
  Layout = "_Layout";
}

<div class="container">
  <h1>Your Tamagotchis!</h1>

  <div class="tamagotchi-container">
    @if (Model.Count == 0)
    {
      <p>You have no Tamagotchis</p>
    }
    @foreach (Tamagotchi tamagotchi in Model)
    {
      if (tamagotchi.GetLife())
      {
        <div>
            <a href="/tamagotchis/@tamagotchi.Id">
              <img src="~/img/eachTamagotchi.gif">
              @tamagotchi.Name, @tamagotchi.Food, @tamagotchi.Sleep, @tamagotchi.Happiness
            </a>
        </div>
      }
    }

    @foreach (Tamagotchi tamagotchi in Model)
    {
      if(@tamagotchi.GetLife() == false)
      {
        <li>
          <img src="~/img/gameOver.gif">
          @tamagotchi.Name is dead.
        </li>
      }
    }
  </div>



  <form action="/tamagotchis/time" method="post">
    <button class="btn" type="submit" name="button">Pass Time</button>
  </form>

  <div class="footer">
    <button class="btn">
      <a href="/tamagotchis/new">Add A Tamagotchi</a>     
    </button>
    <button class="btn">
      <a href="/tamagotchis/deleteAll">Delete All Tamagotchis</a>  
    </button>
  </div>
</div>


